swagger: "2.0"
info:
  title: Clients service API
  description: This service contains the API for managing clients
  version: 1.0.0
host: api.clients.talentsuite.uk
schemes:
  - https
paths:
  /health:
    get:
      summary: Health endpoint which tests all integrations for connectivity.
      produces:
        - application/json
      responses:
        200:
          description: Information json returned
          schema:
            type: array
            items:
              $ref: "#/definitions/health"
      
  /info:
    get:
      summary: information endpoint.
      produces:
        - application/json
      responses:
        200:
          description: Information json returned
          schema:
            $ref: "#/definitions/info"

  /readiness:
    get:
      summary: Returns whether the service is ready
      produces:
        - application/json
      responses:
        200:
          description: OK

  /clients:
    get:
    post:

  /clients/{clientId}:
    get:
    put: 
    delete:

  /clients/{clientId}/projects:
    get:
    post: 

  /clients/{clientId}/projects/{projectId}:
    get:
    put: 
    delete:

  /clients/{clientId}/projects/{projectId}/sows:
    get:
    post:
  
  /clients/{clientId}/projects/{projectId}/sows/{sowId}:
    get:
    put:
    delete:
  




  
  
  /clients/{id}:
    get:
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The report to create.
          type: string
          required: true
      responses:
        404:
          description: The report is not found
        200:
          description: OK
          schema:
            $ref: "#/definitions/reportResponse"
    put:
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: The report to create.
          schema:
            $ref: "#/definitions/reportRequest"
        - in: path
          name: id
          description: The id of the report to update
          type: string
          required: true
      responses:
        404:
          description: The report is not found
        200:
          description: Updated
          headers:
            location:
              description: location of the resource created
              type: string
              format: uri
        400:
          description: The report is already submitted
    delete:
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The id of the report to update
          type: string
          required: true
      responses:
        404:
          description: The report is not found
        200:
          description: Deleted
  /reports:
    post:
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: The report to create.
          schema:
            $ref: "#/definitions/reportRequest"
      responses:
        201:
          description: Created
          headers:
            location:
              description: location of the resource created
              type: string
              format: uri
definitions:
  info:
    type: object
    properties: 
      version:
        type: string
  
  health:
    type: object
    properties: 
      name: 
        type: string
      healthy:
        type: boolean

  pageInfo:
    type: object
    properties: 
      totalCount:
        type: number
      page: 
        type: number
      pageSize: 
        type: number
      first:
        type: boolean
      last:
        type: boolean