swagger: "2.0"
info:
  title: Clients service API
  description: This service contains the API for managing clients
  version: 1.0.0
host: api.clients.talentsuite.uk
schemes:
  - https
paths:
  /health:
    get:
      summary: Health endpoint which tests all integrations for connectivity.
      produces:
        - application/json
      responses:
        200:
          description: Information json returned
          schema:
            type: array
            items:
              $ref: "#/definitions/health"
      
  /info:
    get:
      summary: information endpoint.
      produces:
        - application/json
      responses:
        200:
          description: Information json returned
          schema:
            $ref: "#/definitions/info"

  /readiness:
    get:
      summary: Returns whether the service is ready
      produces:
        - application/json
      responses:
        200:
          description: OK

  /clients:
    get:
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/clientResponse"

    post:
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: The client to create.
          schema:
            $ref: "#/definitions/client"
      responses:
        201:
          description: Created
          headers:
            location:
              description: location of the resource created
              type: string
              format: uri

  /clients/{clientId}:
    get:
      produces:
        - application/json
      parameters:
        - in: path
          name: clientId
          description: The client to return
          type: string
          required: true
      responses:
        404:
          description: The report is not found
        200:
          description: OK
          schema:
            $ref: "#/definitions/client"
    put: 
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: The report to create.
          schema:
            $ref: "#/definitions/client"
        - in: path
          name: clientId
          description: The id of the report to update. This must match the id in the payload
          type: string
          required: true
      responses:
        404:
          description: The client is not found
        200:
          description: Updated
          headers:
            location:
              description: location of the resource created
              type: string
              format: uri
    delete:
      description: This method will soft delete all orphaned records for projects and sows
      produces  :
        - application/json
      parameters:
        - in: path
          name: clientId
          description: The id of the report to update
          type: string
          required: true
      responses:
        404:
          description: The client is not found
        200:
          description: Deleted

  /clients/{clientId}/projects:
    get:
      produces:
        - application/json
      parameters:
        - in: path
          name: clientId
          description: The id of the report to update
          type: string
          required: true
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/project"
    post: 
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: The client to create.
          schema:
            $ref: "#/definitions/project"
        - in: path
          name: clientId
          description: The id of the report to update
          type: string
          required: true
      responses:
        201:
          description: Created
          headers:
            location:
              description: location of the resource created
              type: string
              format: uri
  /clients/{clientId}/projects/{projectId}:
    get:
      produces:
        - application/json
      parameters:
        - in: path
          name: clientId
          description: The id of the report to update
          type: string
          required: true
        - in: path
          name: projectId
          description: The id of the project to update
          type: string
          required: true
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/project"
    put: 
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: The project to update
          schema:
            $ref: "#/definitions/project"
        - in: path
          name: clientId
          description: The id of the report to update
          type: string
          required: true
        - in: path
          name: projectId
          description: The id of the project to update
          type: string
          required: true
      responses:
        404:
          description: The client is not found
        200:
          description: Updated
          headers:
            location:
              description: location of the resource created
              type: string
              format: uri
    delete:
      description: This method will soft delete all orphaned records for sows
      produces  :
        - application/json
      parameters:
        - in: path
          name: clientId
          description: The id of the report to update
          type: string
          required: true
        - in: path
          name: projectId
          description: The id of the project to update
          type: string
          required: true
      responses:
        404:
          description: The client is not found
        200:
          description: Deleted

  /clients/{clientId}/projects/{projectId}/sows:
    get:
      produces:
        - application/json
      parameters:
        - in: path
          name: clientId
          description: The id of the client to update
          type: string
          required: true
        - in: path
          name: projectId
          description: The id of the project to update
          type: string
          required: true
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/sow"
    post: 
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: The client to create.
          schema:
            $ref: "#/definitions/project"
        - in: path
          name: clientId
          description: The id of the client to update
          type: string
          required: true
        - in: path
          name: projectId
          description: The id of the project to update
          type: string
          required: true
      responses:
        201:
          description: Created
          headers:
            location:
              description: location of the resource created
              type: string
              format: uri
  
  /clients/{clientId}/projects/{projectId}/sows/{sowId}:
    get:
      produces:
        - application/json
      parameters:
        - in: path
          name: clientId
          description: The id of the client to get
          type: string
          required: true
        - in: path
          name: projectId
          description: The id of the project to get
          type: string
          required: true
        - in: path
          name: sowId
          description: The id of the sow to get
          type: string
          required: true
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/sow"
    put: 
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: The project to update
          schema:
            $ref: "#/definitions/project"
        - in: path
          name: clientId
          description: The id of the report to update
          type: string
          required: true
        - in: path
          name: projectId
          description: The id of the project to update
          type: string
          required: true
        - in: path
          name: sowId
          description: The id of the sow to update
          type: string
          required: true
      responses:
        404:
          description: The sow is not found
        200:
          description: Updated
          headers:
            location:
              description: location of the resource created
              type: string
              format: uri
    delete:
      produces  :
        - application/json
      parameters:
        - in: path
          name: clientId
          description: The id of the report to update
          type: string
          required: true
        - in: path
          name: projectId
          description: The id of the project to update
          type: string
          required: true
        - in: path
          name: sowId
          description: The id of the sow to update
          type: string
          required: true
      responses:
        404:
          description: The client is not found
        200:
          description: Deleted

definitions:
  info:
    type: object
    properties: 
      version:
        type: string
  
  health:
    type: object
    properties: 
      name: 
        type: string
      healthy:
        type: boolean

  pageInfo:
    type: object
    properties: 
      totalCount:
        type: number
      page: 
        type: number
      pageSize: 
        type: number
      first:
        type: boolean
      last:
        type: boolean
  
  project:
    type: object
    properties: 
      id: 
        type: string
  
  client:
    type: object
    properties: 
      id: 
        type: string

  sow:
    type: object
    properties: 
      id: 
        type: string
  
  clientResponse:
    type: object
    properties: 
      pageDetail:
        $ref: "#/definitions/pageInfo"
      reports:
        type: array
        items:
          $ref: "#/definitions/client"